<div class="container">
    <div class="row justify-content-center">

<!-- form -add a comment-->
            <form class="form-group mt-5" [formGroup]="AddCommentFormGroup" (ngSubmit)="addComment()">


            <div class="form-group text-center" >
              <label>Comments</label>
              <input type="text" class="form-control" formControlName="text" placeholder="Enter comment">
              <button type="submit"  class="btn btn-primary">Add</button>
            </div>     
          </form>
          
            <div class="comment-section" *ngFor="let c of comment">
                <ul >
                    <li class="commentItself">
                        {{c.text}}
                        <span class="createdComment">{{c.createdAt | date}}</span>
                        <span class="deleteComment" ><a class="btn btn-primary" role="button" (click)="deleteThisComment(c.id)">X</a></span>
                    </li>
                </ul>
            </div>

    </div>
</div>
<router-outlet name="comentInsidePost"></router-outlet>
