.post-container {
    background-color: rgb(231, 237, 240);
    height: 100%;
    padding: 1rem;
}

.photos {
    background-color: rgb(231, 233, 236);
    display: inline-block;
    text-align: center;
}

.image {
    height: 220px;
    width: 220px;
    box-shadow: 1px 3px 2px 3px rgb(215, 223, 230);
    margin: 1rem;
}

.user {
    color: rgb(51, 80, 122);
}
