<div class="container post-container">

<div>
  <div class="row">
    <div class="col-lg-3 text-center" *ngFor="let p of posts">
      <a><img src="{{p.imageUrl}}" class="image"  alt=""/></a>
    </div>

    <h3>{{user.u_id}}</h3>
    <ul  *ngIf ="!isCollapsed" class="list-group">
      <li class="list-group-item" *ngFor="let c of comments">{{c.text}}</li>
    </ul>
  </div>
</div>

<!-- <div>
  <button (click) ="toggleCollapse()">View Comments</button>
</div>

<app-comment></app-comment> -->
</div>
